body {
  background: url("bg.png") repeat scroll 0 0 whiteSmoke; 
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; 
}


/** owen css **/

.content {
  margin-top: 30px;
  padding-top: 20px;
}

.toolbar {
  width: 900px;
}

.line {
  border-top: 1px dashed #C6C6C6;
  margin-bottom: 15px;
  margin-top: 15px;
}
.profile {
  background-color: #FFFFFF;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
  margin: 0 0 20px 20px;
  padding: 10px;
}

.case {
  margin-left: -80px;
}

.case_img {
  margin-left: 5px;
  width: 160px;
  height: 100px;
}

.case_title {
  font-size: 21px;
  font-weight: bold;
  line-height: 120%;
}

.case_desc {
  height: 80px;
}
blockquote {
  margin: 5px 0 18px;
  padding: 0 0 0 5px;
}

.case_auth {
  float: right;
  margin-right: 5px;
}

.rsidebar {
  float: left;
  margin-left: 15px;
  width: 200px;
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #ECECEC #ECECEC #CACACA;
  border-image: none;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 1px;
}
.rsidebar_title {
  background: -moz-linear-gradient(center top , #FCFCFC 0%, #F5F5F5 100%) repeat scroll 0 0 transparent;
  border-radius: 3px 3px 3px 3px;
  border-top: 1px solid #EBEBEB;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  color: #555555;
  font-size: 14px;
  font-weight: bolder;
  margin-top: -1px;
  padding: 6px;
  text-indent: 15px;
}
.rsidebar_content {
  margin-top: 10px;
}
.rsidebar_tag {
  margin-left: 2px;
}
.rsidebar_content ul {
  margin-left: 5px;
}
.rsidebar_content ul li {
  width: 85px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 6px;
  margin-right: 6px;
  opacity: 0.6;
  padding: 1px 2px;
}
